/* --------- General Styles -------------- */
body {
    overflow-y: hidden;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container h3 {
    font-weight: 400;
    font-size: 18px;
    background-color: #eaeaea;
    color: #222 !important;
    padding: 5px;
    margin: 0px;
}


/* ======================================= 
 ============= Left Column ===============
 =========================================  */

.left-column {
    height: 100vh;
    width: 80%;
    flex-direction: column;
}


/* --------- Main Vis Area -------------- */

.main-vis {
    min-height: 700px;
    border: 1px solid #eaeaea;
    align-items: flex-end;
}


/* ======================================= 
 ============= Right Column ===============
 =========================================  */

.right-column {
    flex-direction: column;
    width: 20%;
}


/* ---------- Bar Graph ---------------- */

.bar-graph-outer {
    max-height: 100%;
    /*  border: 1px solid #eaeaea;*/
    overflow-y: auto;
    height: 70%;
}

.bar-graph-inner {
    overflow-y: hidden;
    min-height: 720px;
}


/* --------- Legend -------------- */

.legend-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.above-drawer button {
    right: 0;
}

.legend {
    display: flex;
    /*  margin-right: 0 !important;*/
    /*  justify-content: flex-end;*/
    flex-direction: flex-end;
    height: 150px;
}

.legend-row {
    top: 0px;
}

.legend-item {
    background: #fefefe;
    border: 1px solid #eaeaea;
    height: 150px;
    width: 150px;
}


/* ----- Drawer ------ */

.above-drawer {
    align-self: flex-end;
}

.drawer-nav {
    position: fixed;
    top: 72vh;
    z-index: 101;
    /*  bottom: 0 !important;*/
    overflow: none;
    color: #222;
    background-color: #fff;
}


/*!------------------------------------*\
    Right
\*!------------------------------------*/

.drawer--right .drawer-nav {
    right: -300.255rem;
    -webkit-transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--right.drawer-open .drawer-nav,
.drawer--right .drawer-hamburger,
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
    right: 0;
}

.drawer--right.drawer-open .drawer-hamburger {
    right: 301.255rem;
}


/*!------------------------------------*\
    Hamburger
\*!------------------------------------*/

.drawer-hamburger {
    /* position: fixed;
  margin-bottom: 20px;*/
    z-index: 104;
    display: block;
}

.popup {
    background: white;
    outline: solid;
    outline-width: .125px;
    outline-color: lightgrey;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 250px;
    font-weight: 300;
    /*  height:280px;*/
    /*justify-content: space-between;*/
    display: flex;
    width: 800px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}

.popup-table-container {
    height: 100px;
}


.table {
    height: 100px;
    margin-bottom: 25px;
    width: inherit;
}

#popup-table-no-records {
    display: none;
}

#popup-table-container.default {
    display: none;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #222;
    color: #d6d9d8;
    width: inherit;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
    width: inherit;
    height: 130px;
}

thead > tr,
tbody > tr,
tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead,
tfoot {
    flex-shrink: 0;
}

th,
tbody td {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

tfoot {
    display: inline-block;
}

tfoot td {
    width: 100%;
    display: inline-block;
}

.table>tbody>tr:nth-child(odd)>td,
.table>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}
